@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom styles*/
html {
    scroll-behavior: smooth;
}

.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

/*Navigation*/
.mobile-nav-active {
    @apply bg-cyan-50 border-cyan-500 text-cyan-700;
}

.mobile-nav-normal {
    @apply border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800;
}

.desktop-nav-active {
    @apply border-cyan-500;
}

.desktop-nav-normal {
    @apply border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700;
}

/*Landing*/
.landing-svg {
    display: none;
}

@media screen and (min-width: 330px) {
    .landing-svg {
        width: 75%;
        display: block;
    }
}

@media screen and (min-width: 370px) {
    .landing-svg {
        width: 85%;
        display: block;
    }
}

@media screen and (min-width: 640px) {
    .landing-svg {
        width: 100%;
        display: block;
    }
}

.circle-top {
    transform: translate(-1px, 0px);
}